<button type="button"(click)="onAdd()">Add Product</button>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of page.content">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.type}}</td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td><button (click)='onEdit(product.id)'><mat-icon>edit</mat-icon></button><button (click)='onDelete(product.id)'><mat-icon>delete</mat-icon></button></td>
      </tr>
    </tbody>
  </table>
