<div class="modal-header">
    <h4 class="modal-title pull-left">Warning</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
      <p>{{modalText}}</p>
      <button type="button" class="btn btn-default" (click)="onYes()">Yes</button>
      <button type="button" class="btn btn-primary" (click)="onNo()">No</button>
  </div>

