<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"  placeholder="Enter name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <input type="text" class="form-control" id="type" placeholder="Enter type" formControlName="type">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" placeholder="Enter price" formControlName="price">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Enter description" formControlName="description">
    </div>
    <div>
         <button type="submit" class="btn btn-primary" (click)='onSubmit()'>Edit</button>
    </div>
  </form>

